<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174238231-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174238231-1');
</script>

  
  
  
  
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ho Namkung  
              </h1>
              <p>I am a PhD candidate in <a href="https://www.bme.jhu.edu//">Biomedical Engineering</a> at <a href="https://www.hopkinsmedicine.org/som/"> Johns Hopkins University School of Medicine</a>.
                I obtained my Bachelor's degree in Electrical Engineering at <a href="https://www.postech.ac.kr/eng/">POSTECH</a> in 2014. 
              </p>
              <p>My research interests include, but not limited to the following:
              </p>
              <p style="text-align:center">
                <a href="mailto:namkungho87@gmail.com">Email</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?hl=en&user=NQ2bb7EAAAAJ&view_op=list_works&gmla=AJsN-F7uY_DnuxFNw2CsjCHxX8QQc2xS6R3x0kPMfgvZ1vrQ4PPyBQl3GdBK-iLQ0x82jVwCrLJc4ulVpho7DQANtQxVdTAYzGdsZbesEbjSs_VH6pltE0o">Google Scholar</a> &nbsp/&nbsp
                <a href="https://twitter.com/Ho_Namkung">Twitter</a> &nbsp&nbsp               
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Round_profile.png">
             
            </td>
          </tr>

        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research during PhD</h2>
              <p>During my PhD, I have mainly investigated molecular and neural circuit mechanisms of higher-order brain functions that are frequently impaired across a wide array of psychiatric and neurological disorders.</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/miR-124_fig.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.10.19.465053v1.abstract"><h3>The miR-124-AMPAR pathway connects polygenic risks with behavioral changes shared between schizophrenia and bipolar disorder</h3></a>
              <br>
              <br><h3>Ho Namkung</h3>, Hiroshi Yukitake, Daisuke Fukudome, Brian J. Lee, Gianluca Ursini, Shravika Lam, Suvarnambiga Kannan, Atsushi Saito, Minae Niwa, Kamal Sharma, Peter Zandi, Hanna Jaaro-Peled, Koko Ishizuka, Nilanjan Chatterjee, Richard Huganir, Akira Sawa
               <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/miR-124.pdf"><h3>pdf</h3></a></em>
              <br><br> We showed that the polygenic risks shared between schizophrenia and bipolar disorder converge on a common neurobiological pathway (miR-124-AMPAR pathway) that in turn influences the behavioral dimensions shared between these two psychotic disorders.
            </td>
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/AI-FC_fig.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.10.19.465048v1"><h3>The anterior insular cortex associates temporally discontiguous stimuli during threat learning</h3></a>
              <br>
              <br><h3>Ho Namkung</h3>, Sedona Lockhart, Josephine de Chabot, Lauren Guttman, Imad Isehak, Hyung-Bae Kwon, Akira Sawa
              <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/AI-FC.pdf"><h3>pdf</h3></a></em>
              <br><br> We identified that activity of anterior insular cortex layer 5 pyramidal neurons, which reciprocally interact with the basolateral amygdala, is required for associating temporally discontiguous stimuli, specifically during a time interval between them.

            </td>
          </tr>
          
 
       <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Cal-Light2.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.10.13.464095v1"><h3>Tagging active neurons by soma-targeted Cal-Light</h3></a>
              <br>
              <br>Jung Ho Hyun, Kenichiro Nagahama*, <h3>Ho Namkung*</h3>, Neymi Mignocchi*, Patrick Hannan, Sarah Krüssel, Chuljung Kwak, Abigail McElroy, Bian Liu, Mingguang Cui, Seunghwan Lee, Dongmin Lee, Richard L. Huganir, Akira Sawa, Hyung-Bae Kwon
              <br>(*, equal contribution)
              <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/Cal-Light2.pdf"><h3>pdf</h3></a></em>
              <br><br> We developed the soma-targeted Cal-Light (ST-Cal-Light) which selectively converts somatic calcium rise triggered by action potentials into gene expression.

            </td>
          </tr>



       <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/AI-Social.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.01.15.426848v1.abstract"><h3>Anterior insula-associated social novelty recognition: orchestrated regulation by a local retinoic acid cascade and oxytocin signaling</h3></a>
              <br>
              <br>Sun-Hong Kim, Kyongman An, <h3>Ho Namkung</h3>, Matthew D. Rannals, James R. Moore, Tyler Cash-Padgett, Marina Mihaljevic, Sneha Saha, Lina S. Oh, Mari A. Kondo, Kun Yang, Brady J. Maher, Minae Niwa, Akira Sawa
              <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/AI-Social.pdf"><h3>pdf</h3></a></em>
              <br><br> We showed that the anterior insular cortex-mediated social novelty recognition is maintained by proper activity of the layer 5 pyramidal neurons, for which retinoic acid-mediated gene transcription can play a role.

            </td>
          </tr>

        <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Olfactory-inflammation.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.sciencedirect.com/science/article/pii/S0168010221000936"><h3>Causal impact of local inflammation in the nasal cavity on higher brain function and cognition</h3></a>
              <br>
              <br>Yuto Hasegawa*, <h3>Ho Namkung*</h3>, Amy Smith, Shinji Sakamoto, Xiaolei Zhu, Koko Ishizuka, Andrew P Lane, Akira Sawa, Atsushi Kamiya
              <br>(*, equal contribution)
              <br><em>Neuroscience Research</em> (2021) 
              <br><br> Using an inducible olfactory inflammation mouse model, we showed that local inflammation in the nasal cavity elicits behavioral abnormalities of relevance to psychiatric conditions.

            </td>
          </tr>
  
  
        <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/FEP-ACC.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.sciencedirect.com/science/article/pii/S0920996421003972?via%3Dihub"><h3>Face processing of social cognition in patients with first episode psychosis: Its deficits and association with the right subcallosal anterior cingulate cortex</h3></a>
              <br>
              <br>Zui Narita, Kun Yang, Hironori Kuga, Peeraya Piancharoen, Semra Etyemez, Andreia Faria, Marina Mihaljevic, Luisa Longo, <h3>Ho Namkung</h3>, Jennifer M. Coughlin, Gerald Nestadt, Frederik C. Nucifora, Thomas W. Sedlak, Rebecca Schaub, Jeff Crawford, David J. Schretlen, Jun Miyata, Koko Ishizuka, Akira Sawa
              <br><em>Schizophrenia Research</em> (2021) 
              <br><br>Examining face processing in first episode psychosis (FEP) patients and healthy controls (HCs), we observed worse recognition accuracy, longer recognition response time, and longer memory response time in FEP patients when compared with HCs, among which memory response time was correlated with resting-state functional connectivity and brain volume in the right subcallosal sub-region of BA24 in the ACC only in FEP patients.

            </td>
          </tr>  


        <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/THz-TDS.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.osapublishing.org/copp/abstract.cfm?uri=copp-4-4-368"><h3>Quantitative Label-free Terahertz Sensing of Transdermal Nicotine Delivered to Human Skin</h3></a>
              <br>              
              <br>Gyuseok Lee, <h3>Ho Namkung</h3>, Youngwoong Do, Soonsung Lee, Hyeona Kang, Jin-Woo Kim, and Haewook Han
               <br><em>Current Optics and Photonics</em> (2020)
              <br><br>We showed the ability of the THz-TDS method to be an effective alternative to existing methods for noninvasive and label-free assessments of transdermal drug delivery.
            </td>
          </tr>



        <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/CSHL.png' width="140"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="http://symposium.cshlp.org/content/83/17.abstract"><h3>Causal Inference on Pathophysiological Mediators in Psychiatry</h3></a>
              <br>
              
              <br><h3>Ho Namkung</h3>, Brian J. Lee, Akira Sawa
              <br><em>Cold Spring Harbor Symposia</em> (2018) 
              <br><br>We aimed to present a promising intellectual framework in which we may obtain causal and mechanistic insights into how multifactorial etiologies affect downstream biological processes that in turn drive phenotypes of psychiatric relevance.
            </td>
          </tr>  


        <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/TINS-AI.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.sciencedirect.com/science/article/pii/S0166223617300176?via%3Dihub"><h3>The Insula: An Underestimated Brain Area in Clinical Neuroscience, Psychiatry, and Neurology</h3></a>
              <br>
              
              <br><h3>Ho Namkung</h3>, Sun-Hong Kim, Akira Sawa
              <br><em>Trends in Neuroscience</em> (2017) 
              <br><br>We aimed to highlight the physiological functions of the insula and its pathological roles in psychiatric and neurological disorders.
            </td>
          </tr>  
  

    <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/Ca-CaM.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.ingentaconnect.com/content/ben/cmp/2015/00000008/00000002/art00011"><h3>Towards a unified theory of calmodulin regulation (calmodulation) of voltage-gated calcium and sodium channels</h3></a>
              <br>
              <br>Manu Ben-Johny, Ivy E Dick, Lingjie Sang, Worawan B Limpitikul, Po Wei Kang, Jacqueline Niu, Rahul Banerjee, Wanjun Yang, Jennifer S Babich, John B Issa, Shin Rong Lee, <h3>Ho Namkung</h3>, Jiangyu Li, Manning Zhang, Philemon S Yang, Hojjat Bazzazi, Paul J Adams, Rosy Joshi-Mukherjee, Daniel N Yue, David T Yue
              <br><em>Current Molecular Pharmacology</em> (2015) 
              <br><br>We reviewed recent advancements in the understanding of calmodulation of Ca2+ and Na channels that suggest a remarkable similarity in their regulatory scheme.
            </td>
          </tr>  

  














        </table>
        <br>
        <br>
        <br>
 
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                

                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>

