<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174238231-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174238231-1');
</script>

  
  
  
  
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ho Namkung  
              </h1>
              <p>I am a PhD candidate in <a href="https://www.bme.jhu.edu//">Biomedical Engineering</a> at <a href="https://www.hopkinsmedicine.org/som/"> Johns Hopkins University School of Medicine</a>.
                I obtained my Bachelor's degree in Electrical Engineering at <a href="https://www.postech.ac.kr/eng/">POSTECH</a> in 2014. 
              </p>
              <p>I am broadly interested in circuit mechanisms of learning and computations relevant for decision making. I have experience with anatomical tracing, optogenetics, in vivo extracellular recording, and data analysis using machine learning.
              </p>
              <p style="text-align:center">
                <a href="mailto:namkungho87@gmail.com">Email</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?hl=en&user=NQ2bb7EAAAAJ&view_op=list_works&gmla=AJsN-F7uY_DnuxFNw2CsjCHxX8QQc2xS6R3x0kPMfgvZ1vrQ4PPyBQl3GdBK-iLQ0x82jVwCrLJc4ulVpho7DQANtQxVdTAYzGdsZbesEbjSs_VH6pltE0o">Google Scholar</a> &nbsp/&nbsp
                <a href="https://twitter.com/Ho_Namkung">Twitter</a> &nbsp&nbsp               
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Round_profile.png">
             
            </td>
          </tr>

        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research during PhD</h2>
              <p>During my PhD, I have mainly investigated molecular and neural circuit mechanisms of higher-order brain functions that are frequently impaired across a wide array of psychiatric and neurological disorders.</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/miR-124_fig.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.10.19.465053v1.abstract"><h3>The miR-124-AMPAR pathway connects polygenic risks with behavioral changes shared between schizophrenia and bipolar disorder</h3></a>
              <br>
              <br><h3>Ho Namkung</h3>, Hiroshi Yukitake, Daisuke Fukudome, Brian J. Lee, Gianluca Ursini, Shravika Lam, Suvarnambiga Kannan, Atsushi Saito, Minae Niwa, Kamal Sharma, Peter Zandi, Hanna Jaaro-Peled, Koko Ishizuka, Nilanjan Chatterjee, Richard Huganir, Akira Sawa
               <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/miR-124.pdf"><h3>pdf</h3></a></em>
              <br><br> we showed that the polygenic risks shared between schizophrenia and bipolar disorder converge on a common neurobiological pathway (miR-124-AMPAR pathway) that in turn influences the behavioral dimensions shared between these two psychotic disorders.
            </td>
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/AI-FC_fig.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2021.10.19.465048v1"><h3>The anterior insular cortex associates temporally discontiguous stimuli during threat learning</h3></a>
              <br>
              <br><h3>Ho Namkung</h3>, Sedona Lockhart, Josephine de Chabot, Lauren Guttman, Imad Isehak, Hyung-Bae Kwon, Akira Sawa
              <br><em>bioRxiv</em> (2021) <em><a href="https://honamkung.github.io/Info/pdfs/AI-FC.pdf"><h3>pdf</h3></a></em>
              <br><br> We proposed a novel anterior insular cortex (AIC)-mediated mechanism underlying the association of temporally discontiguous stimuli during threat learning.

            </td>
          </tr>
          
          
  
  
         
        </table>
        <br>
        <br>
        <br>
 
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                

                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>

